<h1> Dashboard</h1>
<a asp-controller="Sellers" asp-action="Create">Register</a>
<br />
<hr />
<a asp-controller="Sellers" asp-action="PostLaptop">Add a laptop</a>
<br />
<hr />

<a asp-controller="Sellers" asp-action="SaleReport">Get Sale Report</a>
<br />
<hr />
<a asp-controller="Sellers" asp-action="Logout">Logout</a>