<h1> Admin Dashboard</h1>
<a asp-controller="Admin" asp-action="Create">Register</a>
<br />
<hr />
<a asp-controller="Admin" asp-action="GetAllLaptop">All laptop</a>
<br />
<hr />

<a asp-controller="Admin" asp-action="SaleReport">Get Sale Report</a>
<br />
<hr />
<a asp-controller="Admin" asp-action="Logout">Logout</a>
