@model Project3.Models.AvailableLaptop

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AvailableLaptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lid" />
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="control-label"></label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lmodel" class="control-label"></label>
                <input asp-for="Lmodel" class="form-control" />
                <span asp-validation-for="Lmodel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lprice" class="control-label"></label>
                <input asp-for="Lprice" class="form-control" />
                <span asp-validation-for="Lprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
