<h1>Customer Dashboard</h1>
<a asp-controller="Customers" asp-action="Create">Register</a>
<br />
<hr />
<a asp-controller="Customers" asp-action="GetAllLaptop">Get All laptop</a>



<br />
<hr />
<a asp-controller="Customer" asp-action="Logout">Logout</a>
