@model Project3.Models.TblOrderedLaptop

@{
    ViewData["Title"] = "CreateFromCustomer";
}

<h1>CreateFromCustomer</h1>

<h4>TblOrderedLaptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFromCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oid" class="control-label"></label>
                <input asp-for="Oid" class="form-control" value="@ViewBag.Oid"/>
                <span asp-validation-for="Oid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lid" class="control-label"></label>
                <input asp-for="Lid" class="form-control"  value="@ViewBag.Lid"/>
                @*<select asp-for="Lid" class="form-control" asp-items="ViewBag.Lid"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="SellerId" class="control-label"></label>
                <input asp-for="SellerId" class="form-control" value="@ViewBag.SellerId" />
                @*<select asp-for="SellerId" class="form-control" asp-items="ViewBag.SellerId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" value="@ViewBag.CustomerId" />
                @*<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Customer" asp-action="Dashboard">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
